[Unit]
Description=Run Script Service
After=network.target

[Service]
Type=simple
User=logan
WorkingDirectory=/home/logan/run-script-service
ExecStart=/home/logan/run-script-service/run-script-service run
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target